* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  .side-bar{
  width: 300px;
  .sideheader{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center; 
    &__list{
    height: 20px;
    width: 260px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    }
    &__btn{
      color: #ffffff;
    }
    &__name{
      font-size: 16px;
      color: #ffffff;
    }
    &__iconlist{
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &__icon{
      margin-left: 5px;
    }    
  }
  &__grouplist{
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
  &__groups{
     margin: 0 20px;
    &--name{
      font-size: 15px;
      color: #ffffff;
      padding-top: 20px;
      padding-bottom: 5px;
    }
    &--message{
      font-size: 11px;
      color: #ffffff;
      padding-bottom: 40px;
    }
  }
 }
}

.main-chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
  .main-header{
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    &__group{
      
      &__name{
        color: #333333;
        font-size: 20px;
        padding-top: 35px;
      }
      &__memberlist{
        color: #999999;
        font-size: 12px;
        padding-top: 15px;
        display: flex;
      }
      .name{
        padding-left: 5px;
      }
    }
    &__edit{


      .edit{
        border: 1px solid #38aef0;
        color: #38aef0;
        text-decoration: none;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        display: block;
      }
    }
  }
  .main-messagefield{
    height: calc(100vh - 190px);
    background-color: #fafafa;
  }
  .main-messageBox{
    padding-top: 35px;
    padding-left: 40px;
  }
  .main-messageInfo{
    display: flex;
    &__name{
      color: #333333;
      font-size: 16px;
      font-weight: bold;
    }
    &__time{
      color: #999999;
      font-size: 12px;
      padding-left: 10px;
    }
  }
  .main-message{
    color: #434A54;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 9px;
  }
  .main-form{
    height: 90px;
    background-color: #d2d2d2;
  .newmessage{
    display: flex;
    padding: 10px 40px;
    align-items: center;
  }
    &__box{
      margin: 10px 0;
      position: relative;
      width: 100%;
      .message-form{
        height: 50px;
        width: 100%;
        padding-left: 10px;
        padding-right: 40px;
        border: none;
      }
      .image{
        position: absolute;
        height: 50px;
        right: 10px;
        line-height: 50px;
      }
      .file{
        display: none;
      }
    }
    .send{
      color: #fff;
      font-size: 16px;
      background-color: #38aef0;
      height: 50px;
      padding: 0 30px;
      border: none;
      margin-left: 15px;
    }
  }
}